.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-image: linear-gradient(to right, white , red);
}

.card {

    width: 200px;
    border-radius: 3px;
    text-align: center;
    padding: 20px;
    }

.card img {
    height: 100px;
}
